<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="emico" translate="label" sortOrder="999999" class="emico-tab">
            <label>Emico</label>
        </tab>
        <section id="robinhq" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>RobinHQ</label>
            <tab>emico</tab>
            <resource>Emico_RobinHq::config</resource>
            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dynamic API</label>
                <field id="post_enabled" translate="label,comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable customer/order POST</label>
                    <comment>When you enable this POST requests will be issued to RobinHQ when an order changes state</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="key" translate="label,comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API key</label>
                    <depends>
                        <field id="post_enabled">1</field>
                    </depends>
                    <comment>key for the POST API. Provided by RobinHQ</comment>
                    <validate>required-entry validate-alphanum</validate>
                </field>
                <field id="secret" translate="label,comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API secret</label>
                    <depends>
                        <field id="post_enabled">1</field>
                    </depends>
                    <comment>secret for the POST API. Provided by RobinHQ</comment>
                    <validate>required-entry validate-alphanum</validate>
                </field>
                <field id="url" translate="label,comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API URL</label>
                    <depends>
                        <field id="post_enabled">1</field>
                    </depends>
                    <comment>url for the POST API</comment>
                    <validate>required-entry validate-url</validate>
                </field>
                <field id="server_enabled" translate="label,comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable dynamic API endpoints</label>
                    <comment>When you enable this the dynamic API will be accessible by RobinHQ dashboard</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="server_key" translate="label,comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API key</label>
                    <depends>
                        <field id="server_enabled">1</field>
                    </depends>
                    <validate>required-entry validate-alphanum</validate>
                </field>
                <field id="server_secret" translate="label,comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API secret</label>
                    <depends>
                        <field id="server_enabled">1</field>
                    </depends>
                    <validate>required-entry validate-alphanum</validate>
                </field>
            </group>
            <group id="custom_attributes" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Attributes</label>
                <field id="customer_attributes" translate="Module" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer attributes</label>
                    <can_be_empty>1</can_be_empty>
                    <source_model>Emico\RobinHq\Model\Config\Source\CustomerAttributes</source_model>
                </field>
                <field id="product_attributes" translate="Module" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product attributes</label>
                    <can_be_empty>1</can_be_empty>
                    <source_model>Emico\RobinHq\Model\Config\Source\ProductAttributes</source_model>
                </field>
                <field id="order_attributes" translate="Module" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order attributes</label>
                    <can_be_empty>1</can_be_empty>
                    <source_model>Emico\RobinHq\Model\Config\Source\OrderAttributes</source_model>
                </field>
            </group>
            <group id="js_widgets" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>JS widgets</label>
                <field id="enable_viewed_products" translate="label,comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable viewed products tracking</label>
                    <comment>With the ‘viewed product functionality’, it is possible to gain insight into all products viewed by the customer and the contents of the shopping cart.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
